#recommended-beer {
  margin-bottom: 30px;

  .name {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
  }

  @include respond-to($container-sm) {
    .name {
      font-size: 36px;
    }
  }
}

.actions {
  @include respond-to($container-sm) {
    position: fixed;
    bottom: 10px;
    width: 100%;

    .btn {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 20px;
    }
  }
}
